@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00abf0;
}

.link-icon-hover::before,
.carousel-position-indicator::before {
  content: "";
  transition: transform 300ms;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--primary);
  transform: scale(0);
  border-radius: 100%;
}

.link-icon-hover:hover::before,
.link-icon-hover:focus::before,
.carousel-position-selected::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primary);
  transform: scale(1);
}

.hero-height {
  min-height: calc(100vh - 112px + 95px);
}

.text-glowy-shadow {
  text-shadow: 0px 0px 8px var(--primary);
}
.text-glowy-shadow:hover,
.text-glowy-shadow:focus {
  text-shadow: 0px 0px 10px var(--primary);
}

.box-glowy-shadow {
  box-shadow: inset 0px 0px 6px var(--primary), 0px 0px 6px var(--primary);
}
.box-glowy-shadow:hover,
.box-glowy-shadow:focus {
  box-shadow: inset 0px 0px 13px var(--primary), 0px 0px 20px var(--primary);
}

#cta-btn {
  outline: none;
}

#cta-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200%;
  left: 0;
  transform: perspective(1rem) rotateX(7deg);
  background: var(--primary);
  pointer-events: none;
  filter: blur(1rem);
  opacity: 0.5;
  transition: opacity 1000ms;
}

#cta-btn:hover::after,
#cta-btn:focus::after {
  opacity: 1;
}

.bg-gradient {
  background: rgb(2, 8, 12);
  background: linear-gradient(
    87deg,
    rgba(2, 8, 12, 1) 0%,
    rgba(8, 27, 41, 1) 25%,
    rgba(10, 27, 38, 1) 60%,
    rgba(20, 50, 70, 1) 93%,
    rgba(30, 72, 102, 1) 100%
  );
}

#icon-name-container {
  width: 0;
  transform: scaleX(0);
}

#icon:hover #icon-name-container {
  width: 100%;
  transform: scaleX(1);
}

#icon-name {
  opacity: 0;
  transition: none;
}

#icon:hover #icon-name {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-delay: 300ms;
}
